.avatar-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 30px;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  overflow: hidden;
}
.service-img {
     height: 200px;
     object-fit: cover;
}

.service-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  overflow: auto;
}

.service-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.custom-movement-right{
  margin-left: 9px;
}
.nav-item {
  transition: box-shadow .3s;
}

.nav-item :hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2)
}

